In [1]:
import pandas as pd
DF_features = pd.read_csv("results/GNPSexport/interim/Consensus.tsv", sep="\t")
DF_features = DF_features[['RT','mz', "charge"]]
DF_features

              RT         mz  charge
0      296.58182  393.22324       1
1      141.10956  379.20752       1
2       79.80309  254.16121       1
3      315.84265  407.23886       1
4      151.21921  328.13907       1
...          ...        ...     ...
18014  301.53583  459.75570       2
18015   65.13596  235.11180       1
18016  302.83737  345.21323       1
18017  355.49710  478.27545       1
18018  245.58907  361.20798       1

[18019 rows x 3 columns]

In [2]:
DF_features["charge"] = pd.to_numeric(DF_features["charge"], downcast="integer")
DF_features["mz"] = pd.to_numeric(DF_features["mz"], downcast="float")
DF_features["RT"] = pd.to_numeric(DF_features["RT"], downcast="float")
DF_features

               RT          mz  charge
0      296.581818  393.223236       1
1      141.109558  379.207520       1
2       79.803093  254.161209       1
3      315.842651  407.238861       1
4      151.219208  328.139069       1
...           ...         ...     ...
18014  301.535828  459.755707       2
18015   65.135963  235.111801       1
18016  302.837372  345.213226       1
18017  355.497101  478.275452       1
18018  245.589066  361.207977       1

[18019 rows x 3 columns]

In [3]:
DF_features["Mass"]= 0.0
for ind in DF_features.index:
    if DF_features["charge"][ind] == 0:
        DF_features.loc[ind, "Mass"]= DF_features.loc[ind,"mz"]
    if DF_features["charge"][ind] == 1:
        DF_features.loc[ind, "Mass"]= DF_features.loc[ind,"mz"]- 1.007825
    if DF_features["charge"][ind] == 2:
        DF_features.loc[ind, "Mass"]= (DF_features.loc[ind,"mz"]*2)- 2.015650
    if DF_features["charge"][ind] == 3:
        DF_features.loc[ind, "Mass"]= (DF_features.loc[ind,"mz"]*3)- 3.023475

DF_features["RT"] = DF_features["RT"].astype(float)
DF_features["mz"]= DF_features["mz"].astype(float)
DF_features.round(2)

           RT      mz  charge    Mass
0      296.58  393.22       1  392.22
1      141.11  379.21       1  378.20
2       79.80  254.16       1  253.15
3      315.84  407.24       1  406.23
4      151.22  328.14       1  327.13
...       ...     ...     ...     ...
18014  301.54  459.76       2  917.50
18015   65.14  235.11       1  234.10
18016  302.84  345.21       1  344.21
18017  355.50  478.28       1  477.27
18018  245.59  361.21       1  360.20

[18019 rows x 4 columns]

In [4]:
DF_features= DF_features.rename(columns={"RT": "RetentionTime", "charge":"Charge"})
DF_features["Charge"]= DF_features["Charge"].astype(str)
for ind in DF_features.index:
    if DF_features["Charge"][ind] == "1":
        DF_features.loc[ind, "Charge"]= "+" + DF_features.loc[ind,"Charge"]
    if DF_features["Charge"][ind] == "2":
        DF_features.loc[ind, "Charge"]= "+" + DF_features.loc[ind,"Charge"]
    if DF_features["Charge"][ind] == "3":
        DF_features.loc[ind, "Charge"]= "+" + DF_features.loc[ind,"Charge"]
DF_features= DF_features.drop(columns= "mz")
DF_features

       RetentionTime Charge        Mass
0         296.581818     +1  392.215411
1         141.109558     +1  378.199695
2          79.803093     +1  253.153384
3         315.842651     +1  406.231036
4         151.219208     +1  327.131244
...              ...    ...         ...
18014     301.535828     +2  917.495764
18015      65.135963     +1  234.103976
18016     302.837372     +1  344.205401
18017     355.497101     +1  477.267627
18018     245.589066     +1  360.200152

[18019 rows x 3 columns]

In [5]:
import numpy as np
DF_features['CompoundName'] = np.arange(len(DF_features))
DF_features['CompoundName'] = "feature_" + DF_features['CompoundName'].astype(str)
DF_features["SumFormula"] = " "
DF_features["RetentionTimeRange"]= "0"
DF_features["IsoDistribution"]= "0"
DF_features

,RetentionTime,Charge,Mass,CompoundName,SumFormula,RetentionTimeRange,IsoDistribution
0,296.581818,+1,392.215411,feature_0,,0,0
1,141.109558,+1,378.199695,feature_1,,0,0
2,79.803093,+1,253.153384,feature_2,,0,0
3,315.842651,+1,406.231036,feature_3,,0,0
4,151.219208,+1,327.131244,feature_4,,0,0
...,...,...,...,...,...,...,...
18014,301.535828,+2,917.495764,feature_18014,,0,0
18015,65.135963,+1,234.103976,feature_18015,,0,0
18016,302.837372,+1,344.205401,feature_18016,,0,0
18017,355.497101,+1,477.267627,feature_18017,,0,0
18018,245.589066,+1,360.200152,feature_18018,,0,0

In [6]:
DF_features= DF_features[["CompoundName","SumFormula", "Mass","Charge","RetentionTime","RetentionTimeRange", "IsoDistribution"]]
DF_features.to_csv("resources/MetaboliteIdentification.tsv", sep="\t", index= None)
DF_features

,CompoundName,SumFormula,Mass,Charge,RetentionTime,RetentionTimeRange,IsoDistribution
0,feature_0,,392.215411,+1,296.581818,0,0
1,feature_1,,378.199695,+1,141.109558,0,0
2,feature_2,,253.153384,+1,79.803093,0,0
3,feature_3,,406.231036,+1,315.842651,0,0
4,feature_4,,327.131244,+1,151.219208,0,0
...,...,...,...,...,...,...,...
18014,feature_18014,,917.495764,+2,301.535828,0,0
18015,feature_18015,,234.103976,+1,65.135963,0,0
18016,feature_18016,,344.205401,+1,302.837372,0,0
18017,feature_18017,,477.267627,+1,355.497101,0,0
18018,feature_18018,,360.200152,+1,245.589066,0,0

Use the following to merge features with an already existing MetaboliteIdentification.tsv (in this case it is empty):

In [7]:
import pandas as pd
MetaboIdent= pd.read_csv("resources/MetaboliteIdentification.tsv", sep="\t")
MetaboIdent["RetentionTime"]=MetaboIdent["RetentionTime"].astype(float)
MetaboIdent["Mass"]=MetaboIdent["Mass"].astype(float)
MetaboIdent["SumFormula"]=MetaboIdent["SumFormula"].astype(str)
MetaboIdent["RetentionTimeRange"]=MetaboIdent["RetentionTimeRange"].astype(str)
MetaboIdent["IsoDistribution"]=MetaboIdent["IsoDistribution"].astype(str)
MetaboIdent

,CompoundName,SumFormula,Mass,Charge,RetentionTime,RetentionTimeRange,IsoDistribution
0,feature_0,,392.215411,1,296.581818,0,0
1,feature_1,,378.199695,1,141.109558,0,0
2,feature_2,,253.153384,1,79.803093,0,0
3,feature_3,,406.231036,1,315.842651,0,0
4,feature_4,,327.131244,1,151.219208,0,0
...,...,...,...,...,...,...,...
18014,feature_18014,,917.495764,2,301.535828,0,0
18015,feature_18015,,234.103976,1,65.135963,0,0
18016,feature_18016,,344.205401,1,302.837372,0,0
18017,feature_18017,,477.267627,1,355.497101,0,0
18018,feature_18018,,360.200152,1,245.589066,0,0

In [ ]:
DF= MetaboIdent.merge(DF_features, how= "outer")
DF= DF.round(2)
DF= DF[["CompoundName","SumFormula", "Mass","Charge","RetentionTime","RetentionTimeRange", "IsoDistribution"]]
DF.to_csv("resources/MetaboliteIdentification.tsv", sep="\t", index= None)
DF