In [16]:
import pandas as pd
DF_features = pd.read_csv("results/consensus/Consensus.tsv", sep="\t")
DF_features = DF_features[['RT','mz', "charge"]]
DF_features

             RT         mz  charge
0     534.64496  285.20593       1
1     524.41406  437.19330       1
2     450.50482  187.12633       1
3      95.26580  228.17056       1
4      77.08274  209.12846       1
...         ...        ...     ...
8867  377.39230  786.43730       2
8868  358.79373  712.41910       2
8869  342.22012  630.36670       2
8870  353.27414  630.36710       2
8871   80.70754  241.15460       1

[8872 rows x 3 columns]

In [17]:
DF_features["charge"] = pd.to_numeric(DF_features["charge"], downcast="integer")
DF_features["mz"] = pd.to_numeric(DF_features["mz"], downcast="float")
DF_features["RT"] = pd.to_numeric(DF_features["RT"], downcast="float")
DF_features

              RT          mz  charge
0     534.644958  285.205933       1
1     524.414062  437.193298       1
2     450.504822  187.126328       1
3      95.265800  228.170563       1
4      77.082741  209.128464       1
...          ...         ...     ...
8867  377.392303  786.437317       2
8868  358.793732  712.419128       2
8869  342.220123  630.366699       2
8870  353.274139  630.367126       2
8871   80.707542  241.154602       1

[8872 rows x 3 columns]

In [18]:
DF_features["Mass"]= 0.0
for ind in DF_features.index:
    if DF_features["charge"][ind] == 0:
        DF_features.loc[ind, "Mass"]= DF_features.loc[ind,"mz"]
    if DF_features["charge"][ind] == 1:
        DF_features.loc[ind, "Mass"]= DF_features.loc[ind,"mz"]- 1.007825
    if DF_features["charge"][ind] == 2:
        DF_features.loc[ind, "Mass"]= (DF_features.loc[ind,"mz"]*2)- 2.015650
    if DF_features["charge"][ind] == 3:
        DF_features.loc[ind, "Mass"]= (DF_features.loc[ind,"mz"]*3)- 3.023475

DF_features["RT"] = DF_features["RT"].astype(float)
DF_features["mz"]= DF_features["mz"].astype(float)
DF_features.round(2)

          RT      mz  charge     Mass
0     534.64  285.21       1   284.20
1     524.41  437.19       1   436.19
2     450.50  187.13       1   186.12
3      95.27  228.17       1   227.16
4      77.08  209.13       1   208.12
...      ...     ...     ...      ...
8867  377.39  786.44       2  1570.86
8868  358.79  712.42       2  1422.82
8869  342.22  630.37       2  1258.72
8870  353.27  630.37       2  1258.72
8871   80.71  241.15       1   240.15

[8872 rows x 4 columns]

In [19]:
DF_features= DF_features.rename(columns={"RT": "RetentionTime", "charge":"Charge"})
DF_features["Charge"]= DF_features["Charge"].astype(str)
for ind in DF_features.index:
    if DF_features["Charge"][ind] == "1":
        DF_features.loc[ind, "Charge"]= "+" + DF_features.loc[ind,"Charge"]
    if DF_features["Charge"][ind] == "2":
        DF_features.loc[ind, "Charge"]= "+" + DF_features.loc[ind,"Charge"]
    if DF_features["Charge"][ind] == "3":
        DF_features.loc[ind, "Charge"]= "+" + DF_features.loc[ind,"Charge"]
DF_features= DF_features.drop(columns= "mz")
DF_features

      RetentionTime Charge         Mass
0        534.644958     +1   284.198108
1        524.414062     +1   436.185473
2        450.504822     +1   186.118503
3         95.265800     +1   227.162738
4         77.082741     +1   208.120639
...             ...    ...          ...
8867     377.392303     +2  1570.858984
8868     358.793732     +2  1422.822607
8869     342.220123     +2  1258.717748
8870     353.274139     +2  1258.718603
8871      80.707542     +1   240.146777

[8872 rows x 3 columns]

In [20]:
import numpy as np
DF_features['CompoundName'] = np.arange(len(DF_features))
DF_features['CompoundName'] = "feature_" + DF_features['CompoundName'].astype(str)
DF_features["SumFormula"] = " "
DF_features["RetentionTimeRange"]= "0"
DF_features["IsoDistribution"]= "0"
DF_features

,RetentionTime,Charge,Mass,CompoundName,SumFormula,RetentionTimeRange,IsoDistribution
0,534.644958,+1,284.198108,feature_0,,0,0
1,524.414062,+1,436.185473,feature_1,,0,0
2,450.504822,+1,186.118503,feature_2,,0,0
3,95.265800,+1,227.162738,feature_3,,0,0
4,77.082741,+1,208.120639,feature_4,,0,0
...,...,...,...,...,...,...,...
8867,377.392303,+2,1570.858984,feature_8867,,0,0
8868,358.793732,+2,1422.822607,feature_8868,,0,0
8869,342.220123,+2,1258.717748,feature_8869,,0,0
8870,353.274139,+2,1258.718603,feature_8870,,0,0
8871,80.707542,+1,240.146777,feature_8871,,0,0

In [21]:
DF_features= DF_features[["CompoundName","SumFormula", "Mass","Charge","RetentionTime","RetentionTimeRange", "IsoDistribution"]]
DF_features.to_csv("resources/MetaboliteIdentification.tsv", sep="\t", index= None)
DF_features

,CompoundName,SumFormula,Mass,Charge,RetentionTime,RetentionTimeRange,IsoDistribution
0,feature_0,,284.198108,+1,534.644958,0,0
1,feature_1,,436.185473,+1,524.414062,0,0
2,feature_2,,186.118503,+1,450.504822,0,0
3,feature_3,,227.162738,+1,95.265800,0,0
4,feature_4,,208.120639,+1,77.082741,0,0
...,...,...,...,...,...,...,...
8867,feature_8867,,1570.858984,+2,377.392303,0,0
8868,feature_8868,,1422.822607,+2,358.793732,0,0
8869,feature_8869,,1258.717748,+2,342.220123,0,0
8870,feature_8870,,1258.718603,+2,353.274139,0,0
8871,feature_8871,,240.146777,+1,80.707542,0,0

Use the following to merge features with an already existing MetaboliteIdentification.tsv (in this case it is empty):

In [47]:
import pandas as pd
MetaboIdent= pd.read_csv("resources/MetaboliteIdentification.tsv", sep="\t")
MetaboIdent["RetentionTime"]=MetaboIdent["RetentionTime"].astype(float)
MetaboIdent["Mass"]=MetaboIdent["Mass"].astype(float)
MetaboIdent["SumFormula"]=MetaboIdent["SumFormula"].astype(str)
MetaboIdent["RetentionTimeRange"]=MetaboIdent["RetentionTimeRange"].astype(str)
MetaboIdent["IsoDistribution"]=MetaboIdent["IsoDistribution"].astype(str)
MetaboIdent

Empty DataFrame
Columns: [CompoundName, SumFormula, Mass, Charge, RetentionTime, RetentionTimeRange, IsoDistribution]
Index: []

In [48]:
DF= MetaboIdent.merge(DF_features, how= "outer")
DF= DF.round(2)
DF= DF[["CompoundName","SumFormula", "Mass","Charge","RetentionTime","RetentionTimeRange", "IsoDistribution"]]
DF.to_csv("resources/MetaboliteIdentification.tsv", sep="\t", index= None)
DF

,CompoundName,SumFormula,Mass,Charge,RetentionTime,RetentionTimeRange,IsoDistribution
0,feature_0,,284.20,+1,534.64,0,0
1,feature_1,,436.19,+1,524.41,0,0
2,feature_2,,186.12,+1,450.50,0,0
3,feature_3,,227.16,+1,95.27,0,0
4,feature_4,,208.12,+1,77.08,0,0
...,...,...,...,...,...,...,...
3538,feature_3538,,1620.90,+2,368.66,0,0
3539,feature_3539,,177.08,+1,321.11,0,0
3540,feature_3540,,163.09,+1,73.95,0,0
3541,feature_3541,,193.07,+1,76.19,0,0
3542,feature_3542,,1258.72,+2,353.27,0,0